<p id="notice" class="alert alert-success">
<a class="close" data-dismiss="alert">x</a>
<%= notice %>
</p>
<p>
  <strong>Name:</strong>
  	<%= @post.body %>
  <span class="pull-right">
  	<%= link_to 'Edit', edit_post_path(@post), class:'btn btn-primary' %>
	<%= link_to 'Back', posts_path, class:'btn btn-default' %>
  </span>

<p>
  <strong>Details:</strong>
  <%= simple_format(@post.title) %>
</p>


